/*
The default style sheet for the entire site.
*/


/*Reset browser's own internal CSS stylesheet before reading this file. */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    margin: 0 auto;
    width: 900px;
}

header {
    background-color: darkgrey;
    background-image: url("SMlogo1.jpg");
    background-size: 100% 100%;
    min-height: 257px;
    font-family: Helvetica Neue, sans-serif;
    font-style: ultra-thin;
    
}
h1 {
    color: white;
    padding: 100px 0 0 40px;
}
h2 {
    color: white;
}

nav ul {
   
    background-color: white;
    list-style-type: none;
    text-align: center;
   font-family: 'Anton', sans-serif;
    color: black;
   
}


nav li {
    color: white;
    display: inline-block;
    padding: 30px;
}

main {
    
    min-height: 600px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
    color: white
}




figure {
    text-align: center;
}

figure img {
    height: auto;
    margin: 25px;
    margin-bottom: 10px;
    width: 80%;
}

figcaption {
    color: white;
    padding-bottom: 15px;
    text-align: center;
}

footer {
    background-color: white;
    min-height: 50px;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer li {
    display: inline-block;
    padding: 30px;
}
